.top{
    width: 100%;
    height: 500px;
    background-image: url(../img/banner-carreira1.png);
    background-position: 100% 130%;
    background-attachment: fixed;
}

.top > p{
    padding-top: 10%;
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: roboto;
}

.container{
    padding: 5%;
}


.filtro > .item-form{
   float: left;
   margin:1%;
}

.item-form > input{
    padding: 10px;
}
 .btn > input{
    background: #74c04e !important;
    color: white;
    border:none;
    border-radius: 5px;
    width: 200px;
}

.btn > input:hover{
    opacity: 0.8;
    cursor: pointer;
}